* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

.layout-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto auto;
}


body {
    background-color: #13292A;
}


/*HEADER*/

header label{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #191922;
    font-weight: bold;
    width: 100px;
    height: 40px;
    text-decoration: none;
}
header label:hover {
    color: #988780;
}
.header-checkbox {
    display: none;
}
header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
}
.header-logo {
    height: 100%;
    width: auto;
}
.header-nav {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}
.header-list {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header-list-element {
    display: flex;
    color: #191922;
    font-weight: bold;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.header-list-element:hover {
    color: #988780;
}
.list-element-text {
    color: inherit;
    display: inline;
    text-align: center;
}


/*HERO-SECTION*/
.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    width: 100%;
    height: 30vh;
    background-color: black;
    overflow: hidden;
}
.hero-section-title {
    font-size: 5em;
    font-weight: bold;
    color: white;
    position: absolute;
    z-index: 900;
}
.hero-section-video {
    position: absolute;
    filter: brightness(50%);
    min-width: 100%;
    min-height: 100%;
}



/*Content*/
.body-content-box, .body-content-box-column {
    width: 100%;
    margin-top: 20px;
    background-color: #E7DED9;
    display: flex;
}
.body-content-box {
    flex-direction: row;
}
.body-content-box-column {
    flex-direction: column;
}
.content-box-img {
    object-fit: cover;
}
.content-box-section {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}


.title-with-sidelines {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.title-with-sidelines-both {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #988780;
    font-weight: bold;
}
.title-with-sidelines-both:before,.title-with-sidelines-both:after {
    display: inline-block;
    content: "";
    height: 2px;
    background-color: #988780;
    width: 50%;
}
.title-with-sidelines-both:before {
    margin-right: 10px;
}
.title-with-sidelines-both:after {
    margin-left: 10px;
}

.title-with-sidelines-right {
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #988780;
    font-weight: bold;
}
.title-with-sidelines-right:after {
    margin-left: 10px;
    display: inline-block;
    content: "";
    height: 2px;
    background-color: #988780;
    width: 70%;
}
.content-box-text {
    padding: 10px;
}
.about-us-img {
    min-height: 100%;
    min-width: 40%;
    max-width: 50%;
}

/*DATA-TABLE*/
.data-table {
    margin: 50px;
}
.data-table, .data-table th, .data-table tr {
    border-collapse: collapse;
}
/*DATA-TABLE TH*/
.data-table th {
    border: 1px solid #13292A;
    background-color: #13292A;
    color: white;
    font-weight: bold;
}
/*DATA-TABLE TR*/
.data-table tr {
    background-color: #DEDEDE;
}
.data-table tr:nth-child(even) {
    background-color: #ECECEC;
}
.data-table tr:hover {
    background-color: #D4D4D4
}
/*DATA-TABLE TD*/
.data-table td {
    border: 1px solid #A8A8A8;
    padding: 10px;
}



/*CONTACT-FORM*/
.contact-form {
    margin: 30px;
    display: grid;
    grid-gap: 20px;
}
.contact-form fieldset {
    display: flex;
    align-items: center;
    border: none;
}
.contact-form label {
    margin-right: 10px;
}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form select, .contact-form textarea{
    resize: none;
    border: none;
    width: 100%;
    background-color: white;
    padding: 0.5em;
}
.form-name {
    grid-area: name;
}
.form-email {
    grid-area: mail;
}
.form-select {
    grid-area: select;
}
.form-comment {
    display: flex;
    flex-direction: column;
    grid-area: comment;
}
.form-checkbox{
    grid-area: checkbox;
}
.form-buttons {
    display: flex;
    justify-content: center;
    grid-area: buttons;
}


.contact-form button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #13292A;
}
.contact-form button:hover {
    background-color: #988780;
}





/*FOOTER*/
footer {
    margin-top: 100px;
    font-size: 14px;
    padding: 10px;
    color: #E7DED9;
}




/*MEDIA QUERY*/
@media screen and (min-width: 200px){
    .header-list {
        display: none;
    }
    .header-nav {
        position: absolute;
        justify-content: center;
    }
    header label {
        position: absolute;
        flex-direction: column;
        border: none;
    }
    .header-checkbox:checked ~ .header-list {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
    .header-checkbox:checked ~ .header-list .header-list-element{
        background-color: lightgrey;
    }
    .hero-section-title {
        font-size: 2em;
    }
    .body-content-box {
        margin-top: 0px;
        flex-direction: column-reverse;
    }
    .content-box-img {
        object-fit: cover;
        min-height: auto;
        min-width: 100%;
    }
    .about-us-img {
        display: none;
    }
    .contact-form {
        grid-template-areas: 
        "name"
        "mail"
        "select"
        "comment"
        "checkbox"
        "buttons";
        grid-template-columns: 1fr;
        grid-row: repeat(6, 100%);

    }
}
@media screen and (min-width: 500px) {
    .hero-section {
        height: 40vh;
    }
    .hero-section-title {
        font-size: 3em;
    }
}
@media screen and (min-width: 800px) {
    .header-list, .header-checkbox:checked ~ .header-list{
        display: flex;
        margin-top: 0px;
        flex-direction: row;
    }
    .header-list-element, .header-checkbox:checked ~ .header-list .header-list-element {
        border-left: 2px solid black;
        background-color: transparent;
    }
    .header-list-element:hover,  .header-checkbox:checked ~ .header-list .header-list-element:hover{
        border-left: 2px solid #988780;
    }
    header label {
        display: none;
    }
    .header-nav {
        justify-content: flex-end;
    }
    .hero-section {
        height: 50vh;
    }
    .hero-section-title {
        font-size: 4em;
    }
    .body-content-box {
        margin-top: 10px;
        flex-direction: row;
    }
    .content-box-img {
        min-height: 100%;
        min-width: 40%;
        max-width: 50%;
    }
    .contact-form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name comment"
        "mail comment"
        "select comment"
        "checkbox checkbox"
        "buttons buttons";
    }
}
@media screen and (min-width: 1000px) {
    .about-us-img {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    .hero-section {
        height: 80vh;
    }
}